[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/alanndz
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/alanndz
	label-Verified = -1..+1 group user/alanndz
	push = group user/alanndz
	read = group user/alanndz
	rebase = group user/alanndz
	removeReviewer = group user/alanndz
	submit = group user/alanndz
[access "refs/heads/*"]
	create = group user/alanndz
	push = +force group user/alanndz
	pushMerge = group user/alanndz
	read = group user/alanndz
[access "refs/tags/*"]
	push = group user/alanndz
	push = +force group user/alanndz
